.Calculator {
    width: 100%;
}

.Calculator__result {
    text-overflow: ellipsis;
    margin: 0;
    font-size: 4.5rem;
    font-weight: lighter;
    text-align: right;
    width: 100%;
    white-space: nowrap;
}

.Calculator__result--md {
    font-size: 3.8rem;
}

.Calculator__result--sm {
    font-size: 3rem
}

.Calculator__btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Calculator__btn {
    border: 0;
    font-size: 25px;
    flex-basis: 20%;
    padding: 3px;
    margin: 5px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s;
    z-index: 1000;
    position: relative;
}

.Calculator__btn:active {
    transform: scale(0.93);
}

.Calculator__btn:focus {
    outline: none;
}

.Calculator__btn--large {
    flex-grow: 1;
}

.Calculator__btn.Calculator__btn--large {
    width: 100%;
    border-radius: 30px;
    padding-left: 18px;
    justify-content: flex-start;
}

.Calculator__btn--gray {
    background-color: #A5A5A5;
}

.Calculator__btn--orange {
    background-color: #e2852c;
    color: #fff;
}

.Calculator__btn--dark {
    background-color: #333333;
    color: #fff;
}